  
a:link {
    color: #ffffff;
    text-decoration: none !important;
  }
a:visited {
    color: white;
  }

body {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    width: 50%;
    margin: 55px auto;
    color: #ffffff;
  }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color:  #ec6e4c  !important;
    width: 80px;
    height: 38px;
    border: #ec6e4c;
  }

.btn-success,
.btn-success:hover,
.btn-success:active,
 btn-success:visited {
    border-radius: 4px;
    display: block;
    width: 80px;
    height: 38px;
    box-shadow: none;
  }
  
.btn-success, w-100{
    background-color: black;
    border: black;
    box-shadow: none;
  }

.btn-success:hover{
    background-color: #1F1F1F;
  }

.col {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    margin: 0 auto;
    font-size: 24px;
  }

.fiveDay {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    line-height: 2;
    padding: 20px;
  }
  
h1 {
    position: relative;
    left: -23px;
    display: block;
    text-align: left;
    font-size: 40px;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
    padding-right: 150px;
    text-indent: 20px;
  }

.icons {
    display: block;
    margin: 0 auto;
    text-indent: 25px;
  }

li {
    margin: 0 auto;
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 2;
    list-style: none;
  }

.miniTemp {
    padding: 20px;
    color: #ffffff;
  }
  
p {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
  }
  
  
.temp {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    line-height: 2;
    padding: 13px;
  }

.temperature {
    color: #ffffff;
  }

ul {
    position: relative;
    left: -23px;
    margin: 0 0 20px;
    padding: 0px;
    text-indent: 30px;
  }

.units {
    text-indent: 30px;
  }
  
  

  

  

  


  
