body {
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    
    width: 50%;
    margin: 55px auto;
    color: #ffffff;
  }
  
  .icons {
    display: block;
    margin: 0 auto;
    text-indent: 25px;
  }
  
  .temperature {
    color: #ffffff;
  }
  
  a:link {
    color: #ffffff;
    text-decoration: none !important;
  }

  a:visited {
    color: white;
  }

  .units {
    text-indent: 30px;
  }
  
  .miniTemp {
    font-size: 18px;
    text-align: left;
    padding: 20px;
    color: #ffffff;
  }

  h1 {
    position: relative;
    left: -30px;
    display: block;
    text-align: left;
    font-size: 40px;
    color: #ffffff;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
    padding-right: 150px;
    text-indent: 20px;
  }
  
  ul {
    position: relative;
    left: -30px;
    margin: 0 0 20px;
    padding: 0px;
    text-indent: 30px;
  }
  
  li {
    margin: 0 auto;
    display: block;
    color: #ffffff;
    font-size: 18px;
    line-height: 2;
    list-style: none;
  }
  
  .temp {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    line-height: 2;
    padding: 13px;
  }
  
  .col {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    margin: 0 auto;
    font-size: 24px;
  }
  
  p {
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    line-height: 2;
    margin: 0 auto;
    padding: 10px;
  }
  
  .fiveDay {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    line-height: 2;
    padding: 15px;
    width: fit-content;
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited {
    background-color:  #ec6e4c  !important;
    width: 80px;
    height: 38px;
    border: #ec6e4c;
  }

  .btn-success,
  .btn-success:hover,
  .btn-success:active,
  btn-success:visited {
    border-radius: 4px;
    display: block;
    width: 80px;
    height: 38px;
    box-shadow: none;
  }
  
  .btn-success, w-100{
    background-color: black;
    border: black;
    box-shadow: none;
  }

  .btn-success:hover{
    background-color: #1F1F1F;
  }